<div class="container">
    <h1>ユーザー一覧</h1>
    <%@users.each do |user|%>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="<%="/user_images/#{user.image}"%>" width="100px" height="100px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%=link_to(user.name,"/users/#{user.id}")%></h4>
            <p><%=user.mail%></p>
            <%if @current_user.admin && @current_user.admin!=user.admin%>
                <%=link_to("削除","/users/#{user.id}/destroy",method:"post",class:"btn btn-danger",role:"button")%>
            <%end%>
          </div>
        </div>
    <%end%>
    
      <%=will_paginate%>
</div>