<div class="container">
    <h1>ログインページ</h1>
    <%if @error_message%>
        <p class="text-danger"><%=@error_message%></p>
    <%end%>    
    <%=form_tag("/login")do%>
          <div class="form-group">
            <%=label_tag "form-mail","Mail"%>
            <%=text_field :user,:mail,class:"form-control",id:"form-mail",placeholder:"Mail"%>
          </div>     
          <div class="form-group">
            <%=label_tag "form-password","Password"%>
            <%=text_field :user,:password,class:"form-control",id:"form-password",placeholder:"Password",type:"password"%>
          </div>           
        <%=submit_tag "ログイン",class:"btn btn-primary"%>
    <%end%>
</div>