<div class="container">
    <h1>新規登録</h1>
    <%unless @user.save%>
      <%@user.errors.full_messages.each do |message|%>
          <p class="text-danger"><%=message%></p>
      <%end%>
    <%end%>
    <%=form_tag("/users/create")do%>
          <div class="form-group">
            <%=label_tag "form-name","Name"%>
            <%=text_field :user,:name,class:"form-control",id:"form-name",placeholder:"Name"%>
          </div>
          <div class="form-group">
            <%=label_tag "form-mail","Mail"%>
            <%=text_field :user,:mail,class:"form-control",id:"form-mail",placeholder:"Mail"%>
          </div>     
          <div class="form-group">
            <%=label_tag "form-password","Password"%>
            <%=text_field :user,:password,class:"form-control",id:"form-password",placeholder:"Password",type:"password"%>
          </div>           
        <%=submit_tag "登録",class:"btn btn-primary"%>
    <%end%>
</div>